* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container .about h2 {
  background: #683503;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 0;
}
.container .about p {
  padding: 2rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  color: #333333;
}
.container .mission-container {
  padding: 1rem 1rem 0 1rem;
}

.container .mission-container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #080200;
}
.container .mission,
.container .vision {
  padding: 1rem 0;
}
.container .mission h3,
.container .vision h3 {
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 0;
  color: #080200;
}
.container .mission p,
.container .vision p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  color: #333333;
}
@media screen and (width: 778px) {
  .container .about h2 {
    font-size: 3.5rem;
  }
  .container .mission-container h2 {
    font-size: 3.5rem;
  }
  .container .mission h3,
  .container .vision h3 {
    font-size: 2.625rem;
  }
}
